<html>
    <head>
        <title>Currency</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img src="/img/try.jpeg" alt="Me" class='.portrait'>
        </div>
        
        {{>footer}}
    </body>
</html>