<!DOCTYPE html>
<html>
    <head>
        <title>Currency Converter</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form id="currencyForm">
                <input type="text" placeholder="From" id='from'><br>
                <input type="text" placeholder="To" id="to"><br>
                <input type="number" placeholder="Value" id="fromval"><br>
                <button type="submit">Submit</button>
            </form>
            <p id="messageOne"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>